<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Dynamic Querying w/ Python</title>
        <link rel="stylesheet" href="static/css/bootstrap.min.css" />
        <link rel="stylesheet" href="static/css/app.css" />
        <script type='text/javascript' src="static/js/jquery-3.3.1.min.js"></script>
        <script type='text/javascript' src="static/js/popper.js"></script>
        <script type='text/javascript' src="static/js/bootstrap.min.js"></script>
        <script type='text/javascript' src="static/js/fontawesome-all.js"></script>
        <script type='text/javascript' src="static/js/react.development.js"></script>
        <script type='text/javascript' src="static/js/react-dom.development.js"></script>  
        <script type="text/babel" src="{{ url_for('static', filename = 'app.js') }}"></script>
    </head>
    <body>
        <h1>
            <i class="fas fa-bolt"></i> Dynamic Querying
        </h1>
        <h3>testing changes</h3>
        <p>
            {{ data }}
        </p>
        <div id="testing">

        </div>
    </body>
</html>